go 1.26.3

use (
	./auth
	./cache
	./chrono
	./console
	./core
	./deploy
	./flow
	./gate
	./hub
	./lang
	./lock
	./lockctl
	./mesh
	./notify
	./platform
	./pool
	./pulse
	./secret
	./secretctl
	./tools/terraform-provider-pranor
	./trace
	./tunnel
	./vault
)
